#textlogo {
    float: left;
    width: 75%;
    margin-left: 0.5em;
}

@media only screen and (min-width: 1024px) {
    #textlogo h1.site-name{
        font-size: 280%;
    }
}

@media only screen and (min-width: 768px) {
    #textlogo h1.site-name {
        font-size: 240%;
    }
}


#textlogo h1.site-name {
    width: 86%;
    font-family: "covered_by_your_graceregular";
    font-size: 200%;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body >header a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 44.8px;
}


@media only screen and (min-width: 1024px) {
    #textlogo h2.blog-motto {
        font-size: 110%;
    }
}

@media only screen and (min-width: 768px) {
    #textlogo h2.blog-motto {
        font-size: 100%;
    }
}

#textlogo h2.blog-motto {
    font-size: 1.5em;
    font-weight: normal;
}


body >header >div {
    width: 95%;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

@media only screen and (min-width: 1024px) {
    body > header > div {
        width: 93%;
    }
}

