@import url(navi.css);
@import url(header.css);

@media screen and (min-width: 1024px) {
	#container {
		width: 94%;
	}
}

#container {
	-webkit-float: 1;
	width: 95%;
	margin: 0 auto;
	overflow: hidden;
}

@media only screen and (min-width: 1024px) {
	#main {
		margin : 2em 0 0;
		width:75%;
		float: left;
		transition: margin 0.5s ease-out;
		webkit-transition: margin 0.5s ease-out;
	}
}

#main {
	margin: 1em 0 0;
	line-height: 1.8;
	background: #fafafa;
}


body {
	background: #ddd;
	font-family: "Helvetica Neue", "Helvetica", "Microsoft YaHei", "WenQuanYi Micro Hei", Arial, sans-serif;
	font-size: 1.6em;
	color: #817c7c;
	line-height: 1.5;
	margin: 0 0 0 0;
	min-height: 100vh;
	display: -webkit-flex;
	display: -webkit-box;
	display: -moz-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-o-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

/*sidebar*/

@media only screen and (min-width: 1024px) {
	#asidepart {
		position: relative;
		float: left;
		width: 18%;
		margin: 2em 0 0 3%;
	}
}

#asidepart {
	margin: 1em 0 0;
	padding: 0 2% 1em;
}

#topnav {
	background: #fafafa;
}


@media only screen and (min-width: 1024px) {
	body > header {
		padding: 1.8em 0 1.5em;
	}
}
body >header {
	width: 100%;
	-webkit-box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
	box-shadow: 2px 4px 5px rgba(3,3,3,0.2);
	background: url(../) center #2ca6cb;
	color: #fff;
	padding: 1em 0 0.8em;
}

.clear:after{content:"."; display:block; height:0; clear:both; visibility:hidden; line-height:0;}
html[xmlns] .clear{display:block;}
* html .clear{height:1%;}