.add-button{
	float: right;
  	border-radius: 6px ;
  	margin-top: 2px !important;
  	margin-top: 2px !important;
  	padding: 3px 20px 3px !important;
  	cursor: pointer;
 
}
.manage-div{
	margin-bottom: 2px !important;
}
.add-div{
	float: right;
	height: 30px;
	margin-bottom:1px !important; 
	margin-top:1px !important; 
	width: 200px;

}

