.news_list_container {
    margin: 10px;
}
.paper-title {
    font-size: 26px !important;
    line-height: 28px !important;
    margin-top: 12px !important;
    margin-right: 12px !important;
    word-wrap: break-word !important;
    color: #333;
    margin: 9px 0 6px 0 !important;
    border: 0px solid #DEDACB !important;
    padding-bottom: 0px !important;
}

.paper-desc {
    word-wrap: break-word;
    margin: 0 0 9px;
    display: block;
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    line-height: 18px;
    color: #333;

}
a {
    color: #0061a1;
}
a:hover, a:focus {
    color: #005580;
}

img {
    max-width: 100%;
    width: auto ;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}