.news_list_container {
    margin: 10px;
}
.paper-title {
    font-size: 1.2em !important;
    line-height: 28px !important;
    word-wrap: break-word !important;
    color: #333;
    margin: 20px 3px 10px 3px !important;
    border: 0px solid #DEDACB !important;
    padding-bottom: 0px !important;
    font-family: Verdana, Geneva, sans-serif;
}

.paper-desc {
    word-wrap: break-word;
    display: block;
    margin: 0px 5px 6px 5px !important;
    font-size: 1em;
    line-height: 30px;
    color: #333;
    font-family: Verdana, Geneva, sans-serif;
}
a {
    color: #0061a1;
}
a:hover, a:focus {
    color: #005580;
}

img {
    max-width: 100%;
    width: auto ;
    height: auto;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.paper-time {
    font-size: 0.8em;
    margin-top: 5px;
}