.container{
    margin: 20px auto 20px;
    width: 500px;
}
.input_wrapper{
    margin: 0;
}
.person_input{
    width:500px;
    margin: 20px 0 20px;
    line-height: 1.33;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.introduction{
    width:100%;
    margin: 5px 0 10px 0;
    line-height: 1.33;
    font-size: 18px;
    padding: 10px 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.form_footer{
    width: 100%;
}
.form_button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}
.upload_button{
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px 12px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    width: 100px;
    border-radius: 5px;
}
.submit{
    float:right;
}
.head_wrapper{
    width:100%;
}
.head_wrapper>img{
    display: block;
    margin: auto;
}
.head_wrapper>span{
    display: block;
    margin: 5px auto 5px;
}